/* 
### Neutral

- White: hsl(0, 0%, 100%)
- Rose White: hsl(330, 100%, 98%)
- Eggshell: hsl(30, 54%, 90%)
- Light Grey: hsl(30, 18%, 87%)
- Wenge Brown: hsl(30, 10%, 34%)
- Dark Charcoal: hsl(24, 5%, 18%)
*/
/* this is a helper for maring left */
.card__margin-left {
    margin-left: 2rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
}

h1, h2, h3 {
    font-family: 'Young Serif', serif;
    color: hsl(24, 5%, 18%); /*Dark Charcoal color*/
}
p {
    font-family: 'Outfit', sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    color: hsl(30, 10%, 34%);
}
body {
    box-sizing: border-box;
    background-color: hsl(30, 54%, 90%); /*Eggshell color*/
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* li reset */
li {
    list-style: none;
}

/* THIS IS THE CONTAINER */
.card {
    margin: 12.3rem auto;
    padding: 2rem;
    width: 73.6rem;
    border-radius: 2.4rem;
    background-color: hsl(0, 0%, 100%);/*white color*/
}
/* for image */
.card__omellete {
    margin: 2rem;
}
.card__omellete--box {
    height: 33rem;
    padding: 2rem;
}
.card__image {
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;
    margin-bottom: 3rem;
}

/* this is the heading */
.card__heading {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}
.card__omellete--text {
    font-size: 1.5rem;
    letter-spacing: 0.6px;
    line-height: 2.5rem;
    margin-bottom: 3rem;
}
/* this is the Preparation */
.card__list {
    font-size: 1.4rem;
    padding-right: 2rem;
}
.card__preparation {    
    border-radius: 2rem;
    background-color:hsl(330, 100%, 98%);
    font-size: 1.7rem;
    padding-top: 0.2rem;
    padding-bottom: 1.1rem;
    margin-bottom: 3rem;
}
.card__preparation h3 {
    color: hsl(332, 51%, 32%);
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin: 2rem  0 1.5rem 3rem;
}
.card__preparation--heading {
  /*   padding-left: 2rem; Not Working */
    margin: 1rem 0;
}
.card__preparation--text {
    padding-left: 3rem;
}
.card__preparation--list {    
    color: hsl(30, 10%, 34%);
    font-family: 'Outfit', sans-serif;
    margin-left: 0.9rem;
    padding-bottom: 1.6rem;
}
.card__preparation--list i {
    font-size: 0.4rem;
    color: hsl(332, 51%, 32%);
    align-self: center;
    margin-right: 3rem;
    padding-top: 0.3rem;
}
.card__preparation--list span {
    color: hsl(30, 10%, 34%);
    font-weight: 700;
    margin-right: 0.5rem;
}
/* this is for ingredients */
.card__ingredients {
    font-size: 1.5rem;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding-bottom: 2.3rem;
}
.card__ingredients--header {
    color: hsl(14, 45%, 36%); 
    font-size: 2.7rem;
    font-weight: 400;
    margin-bottom: 1.7rem;   
}

.card__ingredients--list {
    color: hsl(30, 10%, 34%);
    display: flex;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 1.3rem;
}
.card__ingredients--text {    
    /* align-self: center; not sure of this */
    margin-right: 3rem;
    padding-top: 0.3rem;
}

.card__ingredients--list i{
    font-size: 0.4rem;
    color: hsl(14, 45%, 36%);
    align-self: center;
    padding-top: 0.2rem;
    padding-left: 1rem;
}
.card__ingredients--text p { 
    display: inline-block;
    margin-left: 2.5rem;
}

/* Instruction */
.card__instruction {
    font-size: 1.5rem;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding-bottom: 2.3rem;
}
.card__instruction--header {
    color: hsl(14, 45%, 36%); 
    font-size: 2.7rem;
    font-weight: 400;
    margin-top: 3rem;
}
.card__instruction--text {
    margin-right: 3rem;
    padding-top: 0.3rem;
}
.card__instruction--list {
    display: flex;
    gap: 2.5rem;
    line-height: 20px;
}
.card__instruction--number {
    align-self: center;
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}
.card__instruction--list p {
    margin: 1rem;
}

/* this is for Nutrition styles */

.card__nutrition {
    margin-top: 3rem;
}
.card__nutrition--header {
    color: hsl(14, 45%, 36%);
    font-weight: 400;
    font-size: 2.7rem;
    margin-bottom: 2rem;
}
/* Grid Start Here */
.card__nutrition {
    font-family: 'Outfit', sans-serif;
    font-size: 1.9rem;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}

.card__nutrition--servings {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;    
    padding-bottom: 1rem;
}
.card__nutrition--servings:not(:first-child){
    margin-top: 1rem;
}

.card__nutrition--servings:not(:last-child) {

    border-bottom: 0.1rem solid hsl(30, 18%, 87%);
}

.card__nutrition .serving {
    margin-left: 3.3rem;
}
.card__nutrition .grams {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

/* mobile screen */
